language: python
sudo: false
services:
  - mysql
python:
- '2.7'
- '3.4'
- '3.6'
env:
- DJANGO_VERSION=1.8
- DJANGO_VERSION=1.9
- DJANGO_VERSION=1.10
- DJANGO_VERSION=1.11
install:
- pip install -r test-requirements.txt
- pip install -U django==$DJANGO_VERSION
script: python manage.py test
deploy:
  provider: pypi
  user: dabapps
  password:
    secure: YkRDJO+QK2Rr3AJwmxoghTWCCTZFLfXUlqky/my6g7oeMI5Q/F2WzNBmvr84v069fckobHhlN4hhH/JFEaRnCNuYmPhFdiNQh5M5cP/qhUqqh7LsMiX5mJSfM6yCp+rAL6F+yb5r59t3IQKmXKiFzRm/AuS4nHINDFHXwaPjWTw=
  on:
    tags: true
    repo: dabapps/django-db-queue
